.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    display: block;
    margin: 15px auto;
    color: blue;
}